.shortcutDivider {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.shortcut {
  padding-left: 1em;
  color: var(--colors-text-dimmed);
  font-size: 0.8rem;
  align-self: center;
}

.disabled {
  opacity: 60%;
}

.wide {
  flex: 1;
}
