.szh-menu {
  border-color: var(--colors-control-edge);
  background-color: var(--colors-background-panel);
  color: var(--colors-text-default);
}

.szh-menu__arrow {
  border-left-color: var(--colors-control-edge);
  border-top-color: var(--colors-control-edge);
  background-color: var(--colors-control-default);
}

.szh-menu__item--hover {
  background-color: var(--colors-control-highlight);
}

.szh-menu__header {
  color: var(--colors-text-dimmed);
}
