@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --font-system: system-ui;
  --text-shadow-xs: 0px 0px 1px;

  --radius-control: 0.5rem; /* 8px */
  --radius-control-small: 0.25rem; /* 4px */
  --radius-control-large: 1.5rem; /* 24px */

  --shadow-xl: 5px 5px 5px #0003;
  --shadow-md: 2px 2px 2px #0004;
  --shadow-sm: 1px 1px 2px #0003;
  --shadow-inset-sm: inset 1px 1px 2px #0003;
}

@theme {
  --color-workspace: var(--color-emerald-500);
  --color-toolbar: var(--color-zinc-100);
  --color-notification: var(--color-red-600);
  --color-panel: var(--color-white);

  --color-control-interaction: var(--color-zinc-200);
  --color-control-edge: color-mix(
    in oklch,
    var(--color-neutral-800),
    transparent 80%
  );
  --color-control-focus: var(--color-sky-500);
  --color-control-highlight: var(--color-sky-200);
  --color-control-active: var(--color-sky-300);
  --color-control-active-dimmed: var(--color-sky-200);

  --color-text: var(--color-zinc-800);
  --color-dimmed: color-mix(in oklch, var(--color-zinc-800), transparent 50%);
  --color-active: var(--color-slate-500);
}

.dark {
  --color-workspace: var(--color-emerald-900);
  --color-toolbar: var(--color-zinc-800);
  --color-notification: var(--color-red-400);
  --color-panel: var(--color-zinc-900);

  /* Add color for Control Interaction -- button, toggle, thumb */
  --color-control-interaction: var(--color-zinc-700);
  --color-control-edge: color-mix(
    in oklch,
    var(--color-zinc-600),
    transparent 70%
  );
  --color-control-focus: var(--color-green-500);
  --color-control-highlight: var(--color-green-800);
  --color-control-active: var(--color-green-700);
  --color-control-active-dimmed: var(--color-green-600);

  --color-text: var(--color-zinc-300);
  --color-dimmed: color-mix(
    in oklch,
    var(--color-neutral-400),
    transparent 50%
  );
  --color-active: var(--color-green-500);
}

@utility text-vertical {
  writing-mode: vertical-lr;
}

@utility clip-linear {
  clip-path: url(#linearCurve);
}
@utility clip-ease-in {
  clip-path: url(#easeInCurve);
}
@utility clip-ease-out {
  clip-path: url(#easeOutCurve);
}
@utility clip-ease-in-out {
  clip-path: url(#easeInOutCurve);
}

@utility hide-scrollbar {
  &::-webkit-scrollbar {
    display: none;
  }
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

@utility hide-spinner {
  &:not(:focus)::-webkit-outer-spin-button,
  &:not(:focus)::-webkit-inner-spin-button {
    appearance: none;
    margin: 0;
  }
  /* Firefox */
  &:not(:focus) {
    appearance: textfield;
  }
}

@utility font-caption {
  @layer base {
    font: caption;
  }
}

@custom-variant track {
  &::-webkit-slider-runnable-track {
    @slot;
  }
  &::-moz-range-track {
    @slot;
  }
}

@custom-variant thumb {
  &::-webkit-slider-thumb {
    appearance: none;
    @slot;
  }
  &::-moz-range-thumb {
    @slot;
  }
}

html,
body,
#root,
#storybook-root {
  @apply size-full bg-workspace select-none font-caption;
}

#root,
#storybook-root {
  display: flex;
}
