.control {
  display: flex;
  margin: 0 0.5rem;
  justify-content: space-between;
}
.control + .control {
  border-top: 1px solid var(--colors-control-edge);
}
.labelElement {
  padding: 0.5rem 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.controlInput {
  justify-items: end;
  padding: 0.5rem 0 0.5rem 0.5rem;
}
