@import "tailwindcss";
@import "./tailwind/colors.css";
@import "./tailwind/play-indicator.css";
@import "./tailwind/curves.css";
@import "./tailwind/utilities.css";
@import "./tailwind/timeline.css";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --font-system: system-ui;
  --text-shadow-xs: 0px 0px 1px;

  --radius-control: 0.5rem; /* 8px */
  --radius-control-small: 0.25rem; /* 4px */
  --radius-control-large: 1.5rem; /* 24px */

  --shadow-xl: 5px 5px 5px #0003;
  --shadow-md: 2px 2px 2px #0004;
  --shadow-sm: 1px 1px 2px #0003;
  --shadow-inset-sm: inset 1px 1px 2px #0003;
}

@utility font-caption {
  @layer base {
    font: caption;
  }
}

html,
body,
#root,
#storybook-root {
  @apply size-full bg-workspace select-none font-caption;
}

#root,
#storybook-root {
  display: flex;
}
