.separator {
  display: inline-block;
  font-size: 0;
}

.separator.horizontal {
  height: 1.8rem;
  border-right: 1px solid var(--colors-control-edge);
}
.separator.vertical {
  width: 1.8rem;
  border-top: 1px solid var(--colors-control-edge);
}
