.dialogBox {
  position: absolute;
  bottom: 20px;
  width: 80%;
  left: 5%;
  background-color: #00000080;
  padding: 1rem;
  border: 1px solid #f0b800;
  cursor: pointer;
}

.dialogName {
  color: #f0b800;
  text-shadow: #000 1px 1px;
  margin: 0 0 1rem 0;
}

.dialogBox p {
  font-size: 1.1rem;
  margin: 0;
  color: white;
}
