.storyPanel {
  height: 10em;
  display: flex;
  flex-flow: row nowrap;
}

.panel {
  display: flex;
  justify-content: center;
  align-items: center;
}

.content {
  flex-grow: 2;
  background: gray;
}

.container {
  display: flex;
  align-items: stretch;
}
.containerHorizontal {
  flex-flow: row nowrap;
}
.containerVertical {
  flex-flow: column nowrap;
}

.resizeContent {
  flex-grow: 1;
  align-self: stretch;
  display: flex;
}
.resizeContentVertical {
  flex-flow: column;
}
.resizeContentHorizontal {
  flex-flow: row;
}

.resizeBarHorizontal {
  cursor: ew-resize;
  width: 4px;
  margin-left: -2px;
  margin-right: -2px;
  background: transparent;
  display: flex;
  z-index: 10;
  align-items: center;
  align-content: center;
  justify-content: center;
}

.resizeBarHorizontal:hover {
  background: var(--colors-control-focus);
}

.resizeBarVertical {
  cursor: ns-resize;
  height: 4px;
  margin-top: -2px;
  margin-bottom: -2px;
  background: transparent;
  display: flex;
  z-index: 10;
  align-items: center;
  align-content: center;
  justify-content: center;
}

.resizeBarVertical:hover {
  background: var(--colors-control-focus);
}
