.inner {
  flex: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  min-width: fit-content;
  height: 3rem;
  padding: 0 0.2rem;
}
.inner > * + * {
  margin-left: 0.25rem;
}

.outer {
  background-color: var(--colors-background-panel);
  height: 3rem;
  flex-shrink: 0;
  overflow-x: scroll;
  overflow-y: visible;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
.outer::-webkit-scrollbar {
  display: none;
}

.small {
  height: 2.25rem;
}
