@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --font-system:  system-ui;
  --text-shadow-xs: 0px 0px 1px;

  --color-workspace-light: var(--color-neutral-500);
  --color-workspace-dark: var(--color-zinc-800);

  --color-panel-light: var(--color-neutral-200);
  --color-panel-dark: var(--color-neutral-700);

  --color-notification-light: var(--color-red-600);
  --color-notification-dark: var(--color-red-400);

  --color-control-edge-light: var(--color-neutral-800);
  --color-control-highlight-light: var(--color-sky-200);
  --color-control-active-dimmed-light: var(--color-sky-300);
  --color-control-active-light: var(--color-sky-400);
  --color-control-focus-light: var(--color-blue-500);

  --color-control-edge-dark: var(--color-zinc-100);
  --color-control-highlight-dark: var(--color-green-600);
  --color-control-active-dimmed-dark: var(--color-green-700);
  --color-control-active-dark: var(--color-green-700);
  --color-control-focus-dark: var(--color-green-600);

  --color-text-light: var(--color-zinc-800);
  --color-text-dark: var(--color-zinc-100);

  --color-dimmed-light: var(--color-zinc-800);
  --color-dimmed-dark: var(--color-neutral-400);

  --color-active-light: var(--color-slate-500);
  --color-active-dark: var(--color-green-500);
}

@utility text-vertical {
  writing-mode: vertical-lr;
}

@utility font-caption {
  @layer base {
    font: caption;
  }
}

html,
body,
#root, #storybook-root {
  @apply bg-neutral-400 dark:bg-zinc-800 size-full font-caption select-none;
}

#root, #storybook-root {
  display: flex;
}