@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --font-system:  system-ui;
  --text-shadow-xs: 0px 0px 1px;
}

@utility text-vertical {
  writing-mode: vertical-lr;
}

@utility font-caption {
  @layer base {
    font: caption;
  }
}

html,
body,
#root, #storybook-root {
  @apply bg-neutral-400 dark:bg-zinc-800 size-full font-caption select-none;
}

#root, #storybook-root {
  display: flex;
}