@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --font-system:  system-ui;
  --text-shadow-xs: 0px 0px 1px;

  --radius-control: 0.5rem; /* 8px */
  --radius-control-small: 0.25rem; /* 4px */
}

@theme {
  --color-workspace: var(--color-neutral-500);

  --color-panel: var(--color-neutral-200);
  --color-notification: var(--color-red-600);

  --color-control-default: var(--color-white);
  --color-control-edge: color-mix(in oklch, var(--color-neutral-800), transparent 80%);
  --color-control-focus: var(--color-blue-500);
  --color-control-highlight: var(--color-sky-200);
  --color-control-active: var(--color-sky-400);
  --color-control-active-dimmed: var(--color-sky-300);

  --color-text: var(--color-zinc-800);
  --color-dimmed: color-mix(in oklch, var(--color-zinc-800), transparent 50%);
  --color-active: var(--color-slate-500);
}

.dark {
  --color-workspace: var(--color-zinc-800);

  --color-panel: var(--color-neutral-700);
  --color-notification: var(--color-red-400);

  --color-control-default: var(--color-zinc-900);
  --color-control-edge: color-mix(in oklch, var(--color-zinc-100), transparent 70%);
  --color-control-focus: var(--color-green-600);
  --color-control-highlight: var(--color-green-600);
  --color-control-active: var(--color-green-700);
  --color-control-active-dimmed: var(--color-green-700);

  --color-text: var(--color-zinc-100);
  --color-dimmed: color-mix(in oklch, var(--color-neutral-400), transparent 50%);
  --color-active: var(--color-green-500);
}

@utility text-vertical {
  writing-mode: vertical-lr;
}

@utility hide-scrollbar {
  &::-webkit-scrollbar {
    display: none;
  }
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

@utility font-caption {
  @layer base {
    font: caption;
  }
}

html,
body,
#root, #storybook-root {
  @apply bg-neutral-400 dark:bg-zinc-800 size-full font-caption select-none;
}

#root, #storybook-root {
  display: flex;
}