html,
body {
  padding: 0;
  margin: 0;
  font: caption;
}

body {
  background-color: black;
  color: #eee;
}

canvas {
  width: 100%;
  background: url("./assets/static-image.jpg");
  background-size: cover;
}

#root {
  position: relative;
}

.dialogbox {
  position: absolute;
  bottom: 20px;
  width: 80%;
  left: 5%;
  background-color: #00000080;
  padding: 1rem;
  border: 1px solid #f0b800;
  cursor: pointer;
}

.dialogname {
  color: #f0b800;
  text-shadow: #000 1px 1px;
  margin: 0 0 1rem 0;
}

.dialogbox p {
  font-size: 1.1rem;
  margin: 0;
}

.choicebox {
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  display: grid;
  overflow-y: scroll;
  grid-auto-flow: row;
  grid-template-rows: repeat(auto-fit, 4em);
  align-content: center;
  pointer-events: none;
}

.choicebox button {
  margin: 0.5em auto;
  width: 60%;
  min-width: 400px;
  font-size: 1.2em;
  background: #00000080;
  border: 1px solid #69c0ff;
  color: white;
  cursor: pointer;
  pointer-events: all;
}

.download {
  margin: 0 auto;
  padding: 0 2em;
}

.download h2 {
  font-size: 1.1rem;
  margin: 0;
}

.download h3 {
  font-size: 1.1rem;
  margin: 0;
}

.download section {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

.download ul {
  margin-left: 0;
  padding-left: 0;
  list-style-type: none;
}
.download ul li::before {
  content: attr(data-marker);
  display: inline-block;
  text-align: center;
  width: 25px;
}

a {
  color: #ddd;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

footer {
  text-align: center;
  margin: 2em;
}
footer span {
  white-space: nowrap;
}
